


/* Item */
.ui-2 .ui-item{
	border:1px solid #ddd;
	padding:25px 30px;
	box-shadow: 3px 3px 0px 1px rgba(0,0,0,0.08);
	max-width: 400px;
	margin:40px auto;
	background:#fff;
	border-radius:4px;
}
/* Ui-head */
/* heading */
.ui-2 .ui-item .ui-head h3{
	font-size:22px;
	font-weight:normal;
}
@media (max-width:1200px){
	.ui-2 .ui-item .ui-head  h3{
		float:none;
	}
}
/* Button */
.ui-2 .ui-item .ui-head a.btn{
	float:right;
	border:0px;
	margin-top:6px;
}

@media (max-width:1200px){
	.ui-2 .ui-item .ui-head  a.btn{
		float:none;
		margin-top:20px;
	}
}
/* Ui-para */
.ui-2 .ui-item .ui-para{
	margin-top: 30px;
    border: 1px solid #fff;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.15);
}
/* Paragraph */
.ui-2 .ui-item .ui-para p{
	font-size: 18px;
    line-height: 28px;
    color: #232323;
    font-style: italic;    
}
/* Br-yellow */

.ui-2 .ui-item .br-nblue{
	border-top:5px solid #3056c2;
}

.ui-2 .ui-item .br-red{
	border-top:5px solid #f75353;
}
/* Br-blue */
.ui-2 .ui-item .br-lblue{
	border-top:5px solid #32c8de !important;
}
/* Br-green */
.ui-2 .ui-item .br-green{
	border-top:5px solid #51d466 !important;
}
/* UI-list */
.ui-2 .ui-item .ui-list{
	margin-top:20px;
}
/* List */
.ui-item .ui-list ul li {
	font-size:14px;
	line-height:40px;
	margin-left:10px;
	color:#888;
}

